<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Покупки</title>
</head>
<body>
    <div style="margin: 50px 100px 50px 20%">
        <h1>Покупки</h1>
        <div>
            <form th:action="@{/purchases/sort-purchases-by-date}" th:method="GET">
                <label for="sortByDate">Сортировать по дате</label>
                <select name="sort" id="sortByDate">
                    <option value="new">Сначала новые</option>
                    <option value="old">Сначала старые</option>
                </select>
                <input type="submit" value="Сортровать" style="color: black">
            </form>
        </div>
        <table style="width: 80%">
            <tr>
                <th><h2>Наименование товара</h2></th>
                <th><h2>Тип товара</h2></th>
                <th><h2>Вид оплаты</h2></th>
                <th><h2>Продавец</h2></th>
                <th><h2>Магазин</h2></th>
                <th><h2>Дата покупки</h2></th>
                <th><h2>Просмотр</h2></th>
            </tr>
            <tr th:each="purchase : ${purchases}">
                <th>
                    <a th:href="@{/products/{product-id} (product-id = ${purchase.getPurchaseProductResponse().getId()})}">
                        <h3 th:text="${purchase.getPurchaseProductResponse().getName()}"></h3>
                    </a>
                </th>
                <th>
                    <th:block th:if="${purchase.getPurchaseProductResponse().getProductTypeResponse().getId() != null}">
                        <a th:href="@{/product-types/{product-type-id}
                    (product-type-id = ${purchase.getPurchaseProductResponse().getProductTypeResponse().getId()})}">
                            <h3 th:text="${purchase.getPurchaseProductResponse().getProductTypeResponse().getName()}"></h3>
                        </a>
                    </th:block>
                </th>
                <th>
                    <th:block th:if="${purchase.getPurchaseTypeResponse().getName() != null}">
                        <a th:href="@{/purchase-types/{purchase-type-id} (purchase-type-id = ${purchase.getPurchaseTypeResponse().getId()})}">
                            <h3 th:text="${purchase.getPurchaseTypeResponse().getName()}"></h3>
                        </a>
                    </th:block>
                    <th:block th:if="${purchase.getPurchaseTypeResponse().getName() == null}">
                        <h3 style="color: red">Отсутствует</h3>
                    </th:block>
                </th>
                <th>
                    <a th:href="@{/employees/{employee-id} (employee-id = ${purchase.getPurchaseEmployeeResponse().getId()})}">
                        <h3 th:text="|${purchase.getPurchaseEmployeeResponse().getPositionResponse().getName()}
                        ${purchase.getPurchaseEmployeeResponse().getSurname()} ${purchase.getPurchaseEmployeeResponse().getName()}
                        ${purchase.getPurchaseEmployeeResponse().getPatronymic()}|"></h3>
                    </a>
                </th>
                <th>
                    <a th:href="@{/stores/{store-id} (store-id = ${purchase.getPurchaseStoreResponse().getId()})}">
                        <h2 th:text="${purchase.getPurchaseStoreResponse().getName()}"></h2>
                    </a>
                </th>
                <th>
                    <h2 th:text="${purchase.getDateTime()}"></h2>
                </th>
                <th>
                    <form th:action="@{/purchases/{purchase-id} (purchase-id = ${purchase.getId()})}" th:method="GET">
                        <input type="submit" value="Просмотр" style="color: black">
                    </form>
                </th>
            </tr>
        </table>

        <div>
            <form th:method="POST" th:action="@{/purchases/save-from-csv}" enctype="multipart/form-data">
                <label for="csv">Добавить файл</label>
                <input type="file" id="csv" name="file" accept="text/csv">
                <input type="submit" value="Принять" style="color: black">
            </form>
        </div>

        <div style="margin: 50px 100px; display: inline-flex" class="w3-bar w3-round">
            <ul style="display: inline-flex; list-style-type: none">
                <th:block th:each="pageNumber : ${pages}">
                    <li class="page-item" style="margin-right: 10px" >
                        <a class="w3-bar-item w3-button w3-teal"
                           th:href="@{/purchases/pages/{page}(page = ${pageNumber})}"
                           th:text="${pageNumber}">1</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</body>
</html>