<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
</head>
<body>
    <div style="margin: 50px 100px">
        <div>
            <h2 th:text="${store.getName()}"></h2>
            <h3 style="color: grey" th:text="${store.getAddress()}"></h3>
            <h3>
                <a th:href="@{/employees/store/{store-id} (store-id = ${store.getId()})}">Сотрудники</a>
            </h3>
        </div>
    </div>
</body>
</html>