<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Магазины</title>
</head>
<body>
    <div style="margin: 100px 50px">
        <div th:each="store : ${stores}">
            <div>
                <a th:href="@{/stores/{store-id} (store-id = ${store.id()})}">
                    <h3 th:text="${store.name()}"></h3>
                </a>
            </div>
        </div>
        <div style="margin: 50px 100px; display: inline-flex" class="w3-bar w3-round">
            <ul style="display: inline-flex; list-style-type: none">
                <th:block th:each="pageNumber : ${pages}">
                    <li class="page-item" style="margin-right: 10px" >
                        <a class="w3-bar-item w3-button w3-teal"
                           th:href="@{/stores/pages/{page}(page = ${pageNumber})}" th:text="${pageNumber}">1</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</body>
</html>