<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить Тип покупки</title>
</head>
<body>
<div style="margin-top: 7%; text-align: center">
    <form th:action="@{/purchase-types/add-purchase-type}" th:method="POST">
        <label for="name">Наименование</label><br>
        <input type="text" id="name" th:field="${newPurchaseType.name}"><br><br>

        <input type="submit" value="Принять" style="color: black">
        <input type="button" value="Назад" onclick="history.back()" style="color: black">
    </form>
</div>
</body>
</html>