<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.getName()}"></title>
</head>
<body>
<div style="margin: 50px 100px">
    <div>
        <h1 th:text="|Наименование: ${product.getName()}|"></h1>
        <h3>
            <a th:href="@{/product-types/{product-type-id} (product-type-id = ${product.getProductTypeResponse().getId()})}">
                <span th:text="${product.getProductTypeResponse().getName()}"></span>
            </a><br>
            <span th:text="|Цена: ${product.getPrice()}|"></span><br>
            <span th:text="|Общее количество: ${product.getAmount()}|"></span><br>
            <span th:text="|Описание: ${product.getDescription()}|"></span><br>
        </h3>
        <h3 th:each="storeProductAmount : ${product.getStoreProductMap()}">
            <a th:href="@{/stores/{store-id} (store-id = ${storeProductAmount.getKey().getId()})}">
                <span th:text="${storeProductAmount.getKey().getName()}"></span>
            </a>
            <span th:text="|Количество: ${storeProductAmount.value.amount}|"></span>
        </h3>
    </div>

    <div style="margin-top: 50px; display: inline-flex">
        <form th:action="@{/products/edit-product-page/{product-id} (product-id = ${product.id})}" th:method="GET">
            <input type="submit" value="Изменить" style="color: black">
        </form>
        <form th:action="@{/products/delete-product/{product-id} (product-id = ${product.id})}"
              th:method="POST" style="margin-left: 20px">
            <input type="submit" value="Удалить" >
        </form>
    </div>
</div>
</body>
</html>