<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лучшие сотрудники</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/sidenav.css">
</head>
<body>

<div class="sidenav">
    <a href="/products">Электортовары</a>
    <a href="/purchases">Покупки</a>
    <a href="/employees">Сотрудники</a>
    <button class="dropdown-btn">Справочники
        <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
        <a href="/positions">Должности</a>
        <a href="/product-types">Типы электротовара</a>
        <a href="/stores">Магазины</a>
        <a href="/purchase-types">Типы покупок</a>
    </div>
</div>


<div style="margin: 50px 100px">
    <table style="width: 80%; margin-top: 50px">
        <tr>
            <th><h2>Ф.И.О.</h2></th>
            <th><h2>Должность</h2></th>
            <th><h2>Количество проданного товара</h2></th>
            <th><h2>Денежный итог</h2></th>
        </tr>
        <tr th:each="employee : ${bestEmployees}">
            <th>
                <a th:href="@{/employees/{employee-id} (employee-id = ${employee.id()})}">
                    <h3>
                        <span th:text="|${employee.employeeResponse().name()}
                        ${employee.employeeResponse().name()} ${employee.employeeResponse().patronymic()}|"></span>
                    </h3>
                </a>
            </th>
            <th>
                <a th:href="@{/positions/{position-id} (position-id = ${employee.employeeResponse().positionResponse().id()})}">
                    <h3>
                        <span th:text="${employee.employeeResponse().positionResponse().name()}"></span>
                    </h3>
                </a>
            </th>
            <th>
                <th:block th:if="${employee.purchasesAmount() != null}">
                    <h3>
                        <span th:text="${employee.purchasesAmount()}"></span>
                    </h3>
                </th:block>
            </th>
            <th>
                <th:block th:if="${employee.fullPrice() != null}">
                    <h3>
                        <span th:text="${employee.fullPrice()}"></span>
                    </h3>
                </th:block>
            </th>
        </tr>
    </table>
</div>

<script src="/js/sidenav.js"></script>
</body>
</html>