<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Лучший младший продавец консультант</title>
</head>
<body>
<div style="margin: 50px 100px">
    <table style="width: 80%; margin-top: 50px">
        <tr>
            <th><h2>Ф.И.О.</h2></th>
            <th><h2>Должность</h2></th>
            <th><h2>Количество проданных умных часов</h2></th>
        </tr>
        <tr th:each="employee : ${bestJuniorConsultants}">
            <th>
                <a th:href="@{/employees/{employee-id} (employee-id = ${employee.getId()})}">
                    <h3>
                        <span th:text="|${employee.getEmployeeResponse().getName()}
                        ${employee.getEmployeeResponse().getName()} ${employee.getEmployeeResponse().getPatronymic()}|"></span>
                    </h3>
                </a>
            </th>
            <th>
                <a th:href="@{/positions/{position-id} (position-id = ${employee.getEmployeeResponse().getPositionResponse().getId()})}">
                    <h3>
                        <span th:text="${employee.getEmployeeResponse().getPositionResponse().getName()}"></span>
                    </h3>
                </a>
            </th>
            <th>
                <th:block th:if="${employee.getSmartWatchesAmount() != null}">
                    <h3>
                        <span th:text="${employee.getSmartWatchesAmount()}"></span>
                    </h3>
                </th:block>
            </th>
        </tr>
    </table>
</div>
</body>
</html>