<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники магазина</title>
    <style>
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 1px solid #ccc;
            margin: 1em 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div style="margin: 50px 100px">
        <div th:each="employee : ${employees}">
            <a th:href="@{/employees/{employee-id} (employee-id = ${employee.getId()})}">
                <h3 th:text="|${employee.getSurname()} ${employee.getName()} ${employee.getPatronymic()}|"></h3>
            </a>
            <a th:href="@{/positions/{position-id} (position-id = ${employee.getPositionResponse().getId()})}">
                <h3 th:text="${employee.getPositionResponse().getName()}"></h3>
            </a>
            <hr>
        </div>
    </div>
    <div style="margin: 50px 100px; display: inline-flex" class="w3-bar w3-round">
        <ul style="display: inline-flex; list-style-type: none">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px" >
                    <a class="w3-bar-item w3-button w3-teal"
                       th:href="@{/employees/store-employees/{store-id}/pages/{page}
                       (page = ${pageNumber}, store-id = ${storeId})}"
                       th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
    </div>
</body>
</html>