<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники магазина</title>
</head>
<body>
    <div style="margin: 50px 100px">
        <div th:each="employee : ${employees}">
            <a th:href="@{/employees/{employee-id} (employee-id = ${employee.id()})}">
                <h3 th:text="|${employee.name()} ${employee.positionResponse().name()}|"></h3>
            </a>
        </div>
    </div>
    <div style="margin: 50px 100px; display: inline-flex" class="w3-bar w3-round">
        <ul style="display: inline-flex; list-style-type: none">
            <th:block th:each="pageNumber : ${pages}">
                <li class="page-item" style="margin-right: 10px" >
                    <a class="w3-bar-item w3-button w3-teal"
                       th:href="@{/employees/store-employees/{store-id}/pages/{page}
                       (page = ${pageNumber}, store-id = ${storeId})}"
                       th:text="${pageNumber}">1</a>
                </li>
            </th:block>
        </ul>
    </div>
</body>
</html>