<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/css/sidenav.css">
</head>
<body>


    <div class="sidenav">
        <a href="/products">Электортовары</a>
        <a href="/purchases">Покупки</a>
        <a href="/employees">Сотрудники</a>
        <button class="dropdown-btn">Справочники
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/positions">Должности</a>
            <a href="/product-types">Типы электротовара</a>
            <a href="/stores">Магазины</a>
            <a href="/purchase-types">Типы покупок</a>
        </div>
    </div>


    <div style="margin: 50px 100px 50px 20%">
        <table style="width: 80%; margin-top: 50px">
            <tr>
                <th><h2>Ф.И.О.</h2></th>
                <th><h2>Пол</h2></th>
                <th><h2>Дата Рождения</h2></th>
                <th><h2>Должность</h2></th>
                <th><h2>Магазин</h2></th>
                <th><h2>Тип товара</h2></th>
            </tr>
            <tr th:each="employee : ${employees}">
                <th>
                    <a th:href="@{/employees/{employee-id} (employee-id = ${employee.getId()})}">
                        <h3>
                            <span th:text="|${employee.getSurname()} ${employee.getName()} ${employee.getPatronymic()}|"></span>
                        </h3>
                    </a>
                </th>
                <th>
                    <h3>
                        <span th:text="${employee.getGender()}"></span>
                    </h3>
                </th>
                <th>
                    <h3>
                        <span th:text="${employee.getBirthDate()}"></span>
                    </h3>
                </th>
                <th>
                    <th:block th:if="${employee.getPositionResponse().getName() != null}">
                        <a th:href="@{/positions/{position-id} (position-id = ${employee.getPositionResponse().getId()})}">
                            <h3>
                                <span th:text="${employee.getPositionResponse().getName()}"></span>
                            </h3>
                        </a>
                    </th:block>
                    <th:block th:if="${employee.getPositionResponse().getName() == null}">
                        <h3>Отсутствует</h3>
                    </th:block>
                </th>
                <th>
                    <a th:href="@{/stores/{store-id} (store-id = ${employee.getStoreResponse().getId()})}">
                        <h3>
                            <span th:text="|${employee.getStoreResponse().getName()}, ${employee.getStoreResponse().getAddress()}|"></span>
                        </h3>
                    </a>
                </th>
                <th>
                    <th:block >

                    </th:block>
                    <h4 th:each="productType : ${employee.getProductTypeResponses()}">
                        <span th:text="${productType.getName()}" style="color: grey"></span>
                    </h4>
                </th>
            </tr>
        </table>

        <div>
            <form th:method="POST" th:action="@{/employees/save-from-csv}" enctype="multipart/form-data">
                <label for="csv">Добавить CSV(UTF-8) файл сотрудников </label>
                <input type="file" id="csv" name="file" accept="text/csv">
                <input type="submit" value="Принять" style="color: black">
            </form>
        </div>
        <br>

        <div>
            <form th:method="POST" th:action="@{/employees-product-types/save-from-csv}" enctype="multipart/form-data">
                <label for="csv2">Добавить CSV(UTF-8) файл связи сотрудники и типы продуктов</label>
                <input type="file" id="csv2" name="file" accept="text/csv">
                <input type="submit" value="Принять" style="color: black">
            </form>
        </div>


        <div style="margin: 50px 100px; display: inline-flex" class="w3-bar w3-round">
            <ul style="display: inline-flex; list-style-type: none">
                <th:block th:each="pageNumber : ${pages}">
                    <li class="page-item" style="margin-right: 10px" >
                        <a class="w3-bar-item w3-button w3-teal"
                           th:href="@{/employees/pages/{page}(page = ${pageNumber})}"
                           th:text="${pageNumber}">1</a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>

    <script src="/js/sidenav.js"></script>
</body>
</html>