<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудник</title>
</head>
<body>
    <div style="margin: 50px 100px">
        <div>
            <h1 th:text="|Ф.И.О: ${employee.getSurname()} ${employee.getName()} ${employee.getPatronymic()}|"></h1>
            <h3 style="color: grey" th:text="|Пол: ${employee.getGender()}|"></h3>
            <h2 th:text="|Должность: ${employee.getPositionResponse().getName()}|"></h2>
            <h3 th:text="|Магазин: ${employee.storeResponse.name}|"></h3>
            <h2>Типы электротоваров</h2>
            <h3 th:each="productType : ${employee.productTypeResponses}">
                <a th:href="@{/product-types/{product-type-id} (product-type-id = ${productType.id})}">
                    <span th:text="${productType.name}"></span>
                </a>
            </h3>
        </div>
        <div style="margin-top: 50px; display: inline-flex">
            <form th:action="@{/employees/edit-employee-page/{employee-id} (employee-id = ${employee.id})}" th:method="GET">
                <input type="submit" value="Изменить" style="color: black">
            </form>
            <form th:action="@{/employees/delete-employee/{employee-id} (employee-id = ${employee.id})}"
                  th:method="POST" style="margin-left: 20px">
                <input type="submit" value="Удалить" style="color: black">
            </form>
        </div>
    </div>
</body>
</html>